# Keep sorted

#
# Vendor native features
#
CONFIG_MTK_DATA_CPU_LOADING_OPTIMIZE=y
CONFIG_MTK_DEVLINK=y
CONFIG_MTK_DEVLINK_LOGDUMP_SUPPORT=y
CONFIG_MTK_HOST_DRV_WWAN_SUPPORT=y
CONFIG_MTK_MEMLOG_EVENT_SUPPORT=y
CONFIG_MTK_WWAN_PWRCTL_SUPPORT=y
