# Keep sorted

#
# Vendor native features
#
CONFIG_MTK_DATA_CPU_LOADING_OPTIMIZE=y
CONFIG_MTK_DEVLINK=y
CONFIG_MTK_DEVLINK_LOGDUMP_SUPPORT=y
CONFIG_MTK_HOST_DRV_WWAN_SUPPORT=y
CONFIG_MTK_MEMLOG_EVENT_SUPPORT=y
CONFIG_MTK_WWAN_PWRCTL_SUPPORT=y

#
# Google customized features
#
CONFIG_GOOGLE_ASPM_CONTROL=y
CONFIG_GOOGLE_WWAN_PKT_PRIO=y

#
# Issue mitigation or workaround
#
CONFIG_GOOGLE_ATR_WRITE_RETRY=y
CONFIG_GOOGLE_LINK_DOWN_MMIO_PROTECT=y

#
# Debug patch
#
CONFIG_GOOGLE_B493109074_DEBUG=y
CONFIG_GOOGLE_B495424578_DEBUG=y
CONFIG_GOOGLE_B503643353_DEBUG=y
CONFIG_GOOGLE_B507778536_DEBUG=y
CONFIG_GOOGLE_B528903481_DEBUG=y
