# Keep sorted
CONFIG_GOOGLE_MD2AP_WAKEUP_MONITOR=y
CONFIG_GOOGLE_MODEM_CDD=y
CONFIG_GOOGLE_MODEM_DATA_AFFINITY=y
CONFIG_GOOGLE_MODEM_DATA_EXT=y
CONFIG_GOOGLE_MODEM_DATA_FAST_DMA_SYNC=y
CONFIG_GOOGLE_MODEM_DATA_LRO_SIZE_LIMIT=y
CONFIG_GOOGLE_MODEM_SOC_BW_QOS=y
